a {
  color: #2c3e50;
  background-image: none;
}
.topBar {
  height: 7px;
  background-color: #3498db;
}
.wrapper {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.content {
  grid-column-start: 2;
  text-align: center;
}

.content > h1 {
  margin-top: 2rem;
  color: #2c3e50;
}

.content > h2 {
  margin-top: .5rem;
  color: #2c3e50;
}